@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/* Entire Page */
* {
    border: 0px solid rgb(150, 149, 149);
    font-family: 'Roboto', sans-serif;
    color: white;
}

body {
    background-color: lightgray;
    margin: 0;
    padding: 0;
}

/* Navbar */
.navbar {
    background-color: #1F2937;
    display: flex;
}

.navbar-logo {
    display: flex;
    flex: 1;
    margin-left: 10%;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
}

.navbar-links {
    display: flex;
    flex: 1;
    margin-right: 10%;
    justify-content: flex-end;
}

.linktext {
    display: flex;
    flex: auto;
    color: #E5E7EB;
    font-size: 18px;
    max-width: 150px;
}

/* Hero text */
.hero-text {
    background-color: #1F2937;
    display: flex;
    flex: 1;
    padding-top: 50px;
    padding-bottom: 50px;
}

.hero-text-left {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 5%;
}

.hero-text-left .hero-text-main {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 700;
}

.hero-text-left .hero-text-subtext {
    color: #E5E7EB;
    font-size: 18px;
}

.hero-text-left #hero-text-button {
    background-color: #3882f6;
    border-radius: 10px;
    height: 30px;
    width: 100px;
    margin-top: 10px;
}

.hero-text-right {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    margin-right: 10%;
}
